/* RESET */

*{ /*áp dụng CSS cho tất cả phần tử trong trang */
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif; /*định dạng văn bản tron trang */
}

ul,ol{
list-style:none;
}

a{ /* áp dụng cho thẻ trong trang*/
text-decoration:none;
color:inherit;
}

/* BODY */

body{
background:#f5f5f5;         /*màu nền của web*/
color:#333;             /* màu chữ*/
line-height:1.6;            /*khoảng cách giữa các vban */
}

.container{ 
max-width:1200px;           /* chiều rộng max*/
margin:auto;            /* tự động căn giữa*/
padding:0 20px;
}

/* HEADER */

header{
background:white;               /* màu nền*/
padding:18px 0;                  /* khoảng cách chiều cao*/
position:sticky;
top:0;                          /* ghim trên cùng*/
z-index:1000;
border-bottom:1px solid #ddd;    /* thêm đường kẻ dưới header*/
box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:24px;         /* kích thước chữ*/
font-weight:bold;       /* chữ đậm*/
letter-spacing:2px;
color:#222;
}

/* MENU */

.menu{
display:flex;           /*menu nằm ngang */
gap:35px;               /* khioarng cách*/
}

.menu a{
font-size:15px;
color:#333;
transition:.3s;                 /* hiệu ứng chuyển động*/
position:relative;              /* hiệu ứng line dưới chữ*/
}

.menu a:hover{
color:#2b5cff;
}
/*đưa chuột đổi màu chữ */
/* underline animation */

.menu a::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0;
height:2px;
background:#2b5cff;
transition:.3s;
}

.menu a:hover::after{
width:100%;
}

/* MOBILE BUTTON */

.menu-toggle{
display:none;
font-size:28px;
cursor:pointer;
}

/* BANNER */

.banner{
height:100vh;
}

.swiper-slide{
display:flex;                       /*flexbox*/
align-items:center;
justify-content:flex-start;
padding-left:120px;
background-size:cover;               /*background phủ hết trang*/
background-position:center;          /*canh giữa*/
}

.slide1{
background:url(images/banner.jpg) center/cover;
}

.slide2{
background:url(images/project.jpg) center/cover;
}

.banner-text{
text-align:left;                    /*căn trái*/
color:white;
background:rgba(0,0,0,0.35);       /*nền đen mờ*/
padding:30px;
border-radius:10px;                 /*bo goc*/
}

.banner h1{
font-size:50px;
margin-top:10px;
}

.banner button{
margin-top:20px;                 /*khoảng cách*/
padding:12px 25px;
background:#2b5cff;
border:none;                       /*viền*/
color:white;
cursor:pointer;                 /* định dạng con trỏ chuột*/
border-radius:5px;               /*bo góc*/
transition:.3s;
}

.banner button:hover{
background:#1d45d8;
}
/* BUTTON DU AN */

.btn-project{
margin-top:20px;
padding:14px 30px;
background:#2b5cff;
color:white;
border:none;
border-radius:6px;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:0.3s;
letter-spacing:0.5px;  /* độ giản của chữ*/
}

.btn-project:hover{
background:#1d45d8;
transform:translateY(-2px);
box-shadow:0 6px 20px rgba(0,0,0,0.2);
}
/* INTRO IMAGE */

.intro-image{
width:100vw;
margin-left:calc(-50vw + 50%);
padding:30px 0;
text-align:center;
position:relative;
overflow:hidden;        /* xử lí nội dung bị tràn ra khỏi khung*/
}

/* ảnh nền mờ phía sau */

.intro-image::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background:url("images/a.jpg") center/cover no-repeat;

opacity:0.20;                 /* độ mờ */
z-index:0;
}

/* nội dung nằm trên */

.intro-container{
position:relative;
z-index:2;              /* chiều sâu , chỉ hoạt động khi đi kèm position*/
}
.intro-image h2::after{
content:"";
display:block;
width:150px;
height:2px;
background:#151516;
margin:10px auto;
}


.intro-image p{
font-size:20px;
line-height:1.8;
max-width:700px;
margin:auto;
color:#555;
}

.intro-image img{
width:100%;
height:500px;
object-fit:cover; /* cắt ảnh để vừa khung*/
display:block;
}

/* SECTION */

section{
padding:80px 0;
text-align:center;
}

section h2{
font-size:40px;
margin-bottom:10px;
color:#222;
}

/* SERVICES */

.service-grid{
display:grid;
grid-template-columns:repeat(3,1fr);        /* thông số các cột bằng nhau*/
gap:25px;
margin-top:40px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
transition:.3s;
box-shadow:0 5px 20px rgba(0,0,0,0.08);                       /* đổ bóng*/
}

.card img{
width:100%;
border-radius:8px;
margin-bottom:10px;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 12px 30px rgba(0,0,0,0.12);
}

/* PROCESS */

.process{
background:white;
}
.steps{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;             /*xuống dòng khi thiếu chỗ*/
margin-top:40px;
}

.step{
width:120px;
height:120px;
background:#2b5cff;
color:white;

display:flex;
align-items:center;
justify-content:center;

text-align:center;
font-size:14px;
line-height:1.4;

border-radius:50%;
padding:10px;

box-shadow:0 8px 20px rgba(0,0,0,0.15);
transition:0.3s;
}

.step:hover{
transform:scale(1.05);
background:#1d45d8;
}

/* PROJECT */

.filter{
margin-top:20px;
}

.filter button{
padding:8px 20px;
margin:5px;
border:none;
background:#2b5cff;
color:white;
cursor:pointer;
border-radius:4px;
transition:.3s;
}

.filter button:hover{
background:#1d45d8;
}

.project-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
margin-top:30px;
}

.project-grid img{
width:100%;
border-radius:8px;
cursor:pointer;
transition:.4s;
}

.project-grid img:hover{
transform:scale(1.05);
opacity:.9;
}

/* CLIENT */

.clients{
background:#fafafa;
}

.client-logos{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-top:40px;
}

.client-logos img{
height:65px;
opacity:.7;
filter:grayscale(100%);
transition:.3s;
}

.client-logos img:hover{
filter:none;
transform:scale(1.1);
}

/* FOOTER */

footer{
background:#2c2c2c;
padding:60px 0;
color:white;
}

.footer-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;
align-items:flex-start;
}

.footer-grid div{
display:flex;
flex-direction:column;
align-items:flex-start; /* sửa từ center -> flex-start */
}

.footer-grid h3{
margin-bottom:10px;
}

.footer-grid p{
max-width:420px;
line-height:1.9;
text-align:justify;
margin-top:10px;
font-size:14px;
color:#ddd;
}
.footer-grid img{
margin-bottom:15px;
}
/* TABLET */ /*Thông số phù hợp dành cho các loại máy tính*/

@media(max-width:900px){

.service-grid{
grid-template-columns:1fr 1fr;
}

.project-grid{
grid-template-columns:repeat(2,1fr);
}

.footer-grid{
grid-template-columns:1fr;
text-align:center;
}

}

/* MOBILE */
/*thông số cho điện thoại*/
@media(max-width:768px){

.menu-toggle{
display:block;
}

.menu{
display:none;
flex-direction:column;
position:absolute;
top:60px;
right:0;
background:white;
width:220px;
padding:20px;
gap:20px;
border-radius:6px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.menu.active{
display:flex;
}

.banner h1{
font-size:32px;
}

.project-grid{
grid-template-columns:1fr;
}

.service-grid{
grid-template-columns:1fr;
}

}